<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <h4>
                ‘If something can go wrong, it definitely will, states the Murphy’s Law. Within the context of machines,
                this
                law which is more of a proverb completely holds true.
            </h4>

            <p>
                When a machine goes wrong, we first perform an inspection of the machine to zero in on the
                problem. After identifying the issue, we can try to find the right solution.
            </p>

            <h4>This process of inspection or analysis is known as Diagnostics.</h4>

            <p>
                A car diagnostic test can tell you about number of
                problems linked with your vehicle’s transmission, oil tank, exhaust system, or other vehicle components.
                Nowadays, Vehicles are designed with computer processors and microchips that are directly linked to a
                computer
                which scans your vehicle’s system to find where a problem may exist. Let your auto mechanic give a try
                to scan
                your vehicle as they are very well-trained to read the codes and tell about what may be wrong with your
                vehicle.
            </p>

            <p>
                There are two types of diagnostics. They are 1. On-board diagnostics and 2. Off-board diagnostics
            </p>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>