<div class="container-fluid">
    <div class="row" style="margin-top: 5px;">
        <div class="col-sm-2">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/diagnostics">Diagnostics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/telematics">Telematics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/graphs">Graphs</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-8">
                    <div id="chart1"></div>
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript">
                        google.charts.load('current', { 'packages': ['gauge'] });
                        google.charts.setOnLoadCallback(drawChart);

                        function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                                ['Label', 'Value'],
                                ['Memory', 80],
                                ['CPU', 55],
                                ['Network', 68]
                            ]);

                            var options = {
                                width: 400, height: 120,
                                redFrom: 90, redTo: 100,
                                yellowFrom: 75, yellowTo: 90,
                                minorTicks: 5
                            };

                            var chart = new google.visualization.Gauge(document.getElementById('chart1'));

                            chart.draw(data, options);

                            setInterval(function () {
                                data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
                                chart.draw(data, options);
                            }, 1000);
                            setInterval(function () {
                                data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
                                chart.draw(data, options);
                            }, 1000);
                            setInterval(function () {
                                data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
                                chart.draw(data, options);
                            }, 1000);
                        }
                    </script>
                </div>
                <div class="col-sm-4">
                    <img src="/images/ad/ad2.jpg" class="img-fluid" alt="Responsive image" />
                </div>
            </div>

        </div>

    </div>
</div>