<div class="container-fluid">

    <div class="row" style="margin-top: 5px;">
        {{!-- sidebar --}}
        <div class="col-sm-2">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/diagnostics">Diagnostics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/telematics">Telematics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/graphs">Graphs</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        {{!-- main contents --}}
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-8">

                    <img src="images/homepage.jpg" class="img-fluid" alt="Responsive image" />

                    <a style="background-color:black;color:white;text-decoration:none;padding:4px 6px;font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;font-size:12px;font-weight:bold;line-height:1.2;display:inline-block;border-radius:3px"
                        href="https://unsplash.com/@chuttersnap?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
                        target="_blank" rel="noopener noreferrer"
                        title="Download free do whatever you want high-resolution photos from chuttersnap"><span
                            style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                                style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                                viewBox="0 0 32 32">
                                <title>unsplash-logo</title>
                                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
                            </svg></span><span style="display:inline-block;padding:2px 3px">chuttersnap</span></a>

                    <h2 style="padding-top: 10px;">Vehicle</h2>
                    <hr />
                    A vehicle is a machine that transports objects.
                    <table class="table table-sm" style="margin-top: 10px;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Vehicles</th>
                                <th scope="col">transports</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>bicycles</td>
                                <td>people</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>motorcycles</td>
                                <td>people, cargo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>trains</td>
                                <td>people, cargo</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>aeroplane/helicopter</td>
                                <td>people, cargo</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>boat/ship</td>
                                <td>people, cargo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                {{!-- google ads --}}
                <div class="col-sm-4">
                    <img src="images/ad/ad2.jpg" class="img-fluid" alt="Responsive image" />
                </div>
            </div>
        </div>

    </div>
</div>