<div class="container-fluid">

    <div class="row">
        {{!-- sidebar --}}
        <div class="col-sm-2">
            <div class="sidebar" style="padding: 5px;">
                <nav class="sidebar-nav">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/diagnostics">Diagnostics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/telematics">Telematics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/graphs">Graphs</a>
                        </li>
                        {{!-- <li class="nav-title">Nav Title</li> --}}
                        {{!-- <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="nav-icon cui-speedometer"> Nav item</i>
                            </a>
                        </li> --}}
                        {{!-- <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="nav-icon cui-speedometer"></i> With badge
                                <span class="badge badge-primary">NEW</span>
                            </a>
                        </li> --}}
                        {{!-- <li class="nav-item nav-dropdown">
                            <a class="nav-link nav-dropdown-toggle" href="#">
                                <i class="nav-icon cui-puzzle"></i> Nav dropdown
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="nav-icon cui-puzzle"></i> Nav dropdown item
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="nav-icon cui-puzzle"></i> Nav dropdown item
                                    </a>
                                </li>
                            </ul>
                        </li> --}}
                        {{!-- <li class="nav-item mt-auto">
                            <a class="nav-link nav-link-success" href="https://coreui.io">
                                <i class="nav-icon cui-cloud-download"></i> Download CoreUI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-danger" href="https://coreui.io/pro/">
                                <i class="nav-icon cui-layers"></i> Try CoreUI
                                <strong>PRO</strong>
                            </a>
                        </li> --}}
                    </ul>
                </nav>
                {{!-- <button class="sidebar-minimizer brand-minimizer" type="button">HI</button> --}}
            </div>
        </div>

        {{!-- main contents --}}
        <div class="col-sm-8">
            <h2 style="padding-top: 10px;">Vehicle</h2>
            <hr />
            A vehicle is a machine that transports objects.
            <table class="table table-sm" style="margin-top: 10px;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Vehicles</th>
                        <th scope="col">transports</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>bicycles</td>
                        <td>people</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>motorcycles</td>
                        <td>people, cargo</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>trains</td>
                        <td>people, cargo</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>aeroplane/helicopter</td>
                        <td>people, cargo</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>boat/ship</td>
                        <td>people, cargo</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{!-- google ads --}}
        <div class="col-sm-2">
            <script language="javascript" type="text/javascript">
                //Number of ads to offset the result
                offset_12629 = 0;
                //Request ads for a specific keyword
                keyword_12629 = '';
                //Request ads for a particular publisher subid
                sid_12629 = '';
                //Pass click through a secondary SEM URL; Substitution parameters are [url], [campaign_id], [unique_hash] and [cpc]
                sem_12629 = '';
                document.write("<script language='javascript' type='text/javascript' src='//servedby.eleavers.com/ads/ads.php?t=MjE4Mzk7MTI2Mjk7dmVydGljYWwuc2t5c2NyYXBlcg==&o=" + offset_12629 + "&k=" + escape(keyword_12629) + "&sid=" + escape(sid_12629) + "&sem=" + escape(sem_12629) + "'><\/sc" + "ript>");
            </script>
        </div>
    </div>
</div>