<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <p>
                Telematics is a translation of the French word télématique which was first coined by Simon Nora and
                Alain
                Minc
                in a 1978 report to the French government on the computerization of society. It referred to the transfer
                of
                information over telecommunications and was a portmanteau blending the French words télécommunications
                ("telecommunications") and informatique ("computing science"). The original broad meaning of telematics
                continues to be used in academic fields but in commerce it now generally means vehicle telematics.
            </p>
            <p>
                Telematics works on telecommunication and informatics, which means that the information, about the
                vehicle
                usage
                and other vehicle insights, is collected from the vehicle (informatics) and then transferred to network
                channels
                located remotely (telecommunications). Using GPS, the device is able to track the exact location of
                whichever
                vehicle it is embedded in, and this information is relayed in real-time. Apart from live location, the
                telematics device helps in knowing about engine health, fuel consumption rate, ignition status, upcoming
                vehicle
                maintenance and route optimisation, amongst other things.
            </p>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>